//Colors

$themeBlue: #1C4259;
$themeBrown: #CBAF96;

//Typography

$contentFont: 'Segoe', sans-serif;
$titleFont: 'Namdhinggo', serif;

//Media 

$mobile: 320px;
$mobileLandscape: 481px;
$tablet: 768px;
$large: 980px;
$xlarge: 1440px;
$huge: 2000px;

//Width 

$width95: 95%;
$width85: 85%;