//Colors

$themeBlue: #1C4259;
$themeBrown: #CBAF96;

//Typography

$SegoeFontFamily: 'Segoe', sans-serif;
$NamdhinggoFontFamily: 'Namdhinggo', serif;

//Media 

$mobile: 320px;
$tablet: 768px;
$large: 980px;