@use '../base/' as *;

li {
    list-style-type: none;
    a {
        text-decoration: none;
    }
}

p, h3, li, input {
    font-family: $SegoeFontFamily;
    font-size: 15px;
    line-height: 27px;   
    font-weight: 400;

    @media screen and (min-width: $large) {
        font-size: 17px;
    }
}

h2 {
    font-size: 25px;
}

h3 {
    font-size: 17px;

    @media screen and (min-width: $large) {
        font-size: 19px;
    }
}