//FAQ items

@use '../base/' as *;

.faq {
    padding: 20px;
    border-bottom: 1px solid $themeBlue;
    &:first-of-type {
        border-top: 1px solid $themeBlue;
    }

    .title {
        display: flex;
        justify-content: space-between;
    }

    &.open {
        p {
            height: auto;
            padding-top: 20px;
        }
    }

    &.close {
        p {
            height: 0;
            overflow: hidden;
        }
    }
}


.faqs {
    .section__bg {
        width: 20%;
    }
}