// Mailchimp form

@use '../base/' as *;

.mc4wp-form-fields {
    position: relative;

    input {
        margin-top: 20px;
        padding: 17px 10px;
        border-radius: 10px;
        

        &[type="email"]{
            width: 100%;
            position: relative;
        }

        &[type="submit"]{
            position: absolute;
            top: 1px;
            right: 1px;
            width: 62px;
            height: 62px;
            background-color: $themeBrown;
            color: white;
            border: none;
            font-size: 25px;
        }
    }
}