// Card in query

@use '../base/' as *;

.card {
    width: 33%;
    position: relative;
    padding: 43px 73px 43px 43px;

    &__image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__content {
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 10;
        width: 100%;

        p {
            padding-top: 10px;
        }

        a {
            display: block;
            margin: 22px 0;
            font-weight: 700;
        }
    }

    &--bordered {
        height: 605px;

        img {
            border-radius: 20px;
        }

        .content {
            padding: 40px;
        }

        &::after {
            content: "";
            display: block;
            position: absolute;
            top: 22px;
            left: 22px;
            width: 100%;
            height: 100%;
            border: 2px solid $themeBrown;
            border-radius: 20px;
        }

        &:nth-of-type(2){
            margin: 0 55px;
            transform: translateY(65px);
            &::after {
                top: -22px;
                left: 22px;
            }
        }
    }

    &--scaled {
        height: 450px;
        border-radius: 24px;
        overflow: hidden;

        .content {
            padding: 23px;
        }

        &:nth-of-type(2){
            margin: 0 34px;
        }
    }

}