// Card in query

@use '../base/' as *;

.card {
    position: relative;
    padding: 43px 73px 43px 43px;
    border-radius: 20px;

    &__image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 20px;
    }

    &__content {
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 10;

        p {
            padding-top: 10px;
            display: none;
        }

        a {
            display: inline-block;
            margin: 22px 0;
            font-weight: 700;
            position: relative;
            display: none;
            &::after {
                content:'';
                display: block;
                height: 3px;
                width: 75%;
                background-color: white;       
            }
        }
    }

    &--bordered {
        height: 605px;

        .content {
            padding: 40px;
            padding-right: 0;
        }

        &:hover {
            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(0,0,0,0.67);
                z-index: 10;
                border-radius: 20px;
            }
            

            h5 {
                &::after {
                    content: '';
                    display: block;
                    height: 3px;
                    width: 80%;
                    background-color: white;
                    margin-top: 3px;
                }
            }   
        }
        
        &::after {
            content: "";
            display: block;
            position: absolute;
            top: 20px;
            left: 20px;
            width: 100%;
            height: 100%;
            border: 2px solid $themeBrown;
            border-radius: 20px;
        }

        &:nth-of-type(2){
            transform: translateY(65px);
            &::after {
                top: -22px;
                left: 22px;
            }
        }
    }

    &--scaled {
        height: 450px;
        border-radius: 24px;
        overflow: hidden;
        position: relative;
        padding: 23px;
        transform: scale(1);

        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(to top left, #000 0%, transparent 67%);
        }   

        .content {
            padding: 50px;
        }

        &:nth-of-type(2){

            .content {
                padding: 23px;
            }

            p {
                display: block;
            }

            a {
                display: inline-block;
            }
        }
    }

}