//Abstract
@use "abstract/typography";

//Layout 
@use "layout/header";
@use "layout/footer";
@use "layout/queries";
@use "layout/sections";
@use "layout/about";
@use "layout/counters";
@use "layout/single-post";
@use "layout/post-types";
@use "layout/archive";

// Components 
@use "components/nav";
@use "components/booking-box";
@use "components/mailchimp";
@use "components/widgets";
@use "components/menu-icon";
@use "components/query-card";
@use "components/faq";
@use "components/testimonials";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

