@use '../base/' as *;

//Archives 

.main-content {
    margin-top: 30px;

    @media screen and (min-width: $large) {
        margin-top: 0;
    }
}

.single, .blog, .archive, .page {
    .content-area {
        width: 86%;
        margin: auto;
        h4, h5, h6 {
            text-align: left;
        }
    }
}

.blog, .archive, .page {
    .content-area {
        padding-bottom: 50px;
    }

    .article {
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
        margin-bottom: 30px;

        &__image {
            width: 100%;
            margin-right: 20px;
            height: 150px;
            position: relative;
            overflow: hidden;
            img {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 100%;
                height: auto;
            }

            @media screen and (min-width: $tablet) {
                width: 30%;
            }

            @media screen and (min-width: $large) {
                height: 250px;   
            }
        }

        &__body {
            width: 100%;

            .date {
                padding: 10px 0;
            }

            @media screen and (min-width: $tablet) {
                width: 65%;
            }
        }

        &__link {
            display: block;
            color: $themeBlue;
            font-weight: 600;
            padding-top: 10px;

            &:hover {
                color: $themeBrown;
            }
         }
    }
}

