// Footer section

@use '../base/' as *;

.footer {
    list-style-type: none;
    color: white;
    display: flex;
    justify-content: center;
    padding-bottom: 90px;

    &__wrap {
        display: flex;
        flex-wrap: wrap;
        width: 90%;
        border-bottom: 2px solid white;
        padding: 60px 0;
    }
 
    &__col {
        width: 100%;
        text-align: center;
        padding-bottom: 30px;
        @media screen and (min-width: $large){
            width: 25%;
            text-align: left;
            padding-bottom: 0,
        }

        h6, a {
            color: white;
        }

        &:nth-of-type(3) {
            a {
                padding-bottom: 14px;
                display: block;
            }
        }

        h2 {
            padding-bottom: 15px;
        }

        h6 {
            padding: 20px 0 15px;
            text-transform: uppercase;
        }

        li {
            &:first-of-type {
                h6 {
                    padding: 0 0 15px;
                }
            }
        }
    }

    .custom-logo-link {
        img {
            width: 45%;
    
            @media screen and (min-width: $large){
                width: 68%;
            }
    
            @media screen and (min-width: $huge){
                width: 45%;
            }
        }
    }
}