//Header section

@use '../base/' as *;

.header {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;

    &__image {
        &--top {
            width: 100%;
            position: relative;
            img {
                width: 100%;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                height: 100%;
                object-fit: cover;
            }
        }

        &--bottom {
            position: absolute;
            bottom: -5px;
            left: 0;
            width: 100%;
            img {
                width: 100%;
            }
        }
        
    }

    &__wrapper {
        position: absolute;
        top: 30%;
        text-align: center;
        width: 95%;

        @media screen and (min-width: $large) {
            width: 70%;
            top: 35%;
        }

        &--light {
            color: white;
        }
    }
}