// Query block

@use '../base/' as *;

.query {
    text-align: left;
    position: relative;
    padding-top: 50px;
    overflow: hidden;
    
    &__wrap {
        display: grid;
        grid-template-columns: repeat(6, 100%);
        padding-top: 35px;    


        &--gallery {
          display: block;
        }
        
        @media screen and (min-width:$large) {
            grid-template-columns: repeat(6, 31%);
            gap: 40px;

        }
    }

    &--nofullwidth {
        margin: 0 auto;
        justify-content: space-around;

        .fa-angle-right {
            right: -25px;
        }

        .fa-angle-left {
            left: -25px;
        }

        .query__wrap {
            padding-bottom: 70px;
        }

        @media screen and (min-width: $large) {
            width: $width90;
            padding: 0 23px;
        }
    }

    &--faq {
        display: block;
        width: $width85;
        margin: 0 auto;
    }

    &--gallery-titles {
        padding: 50px 0 0;
        width: 50%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        h5 {
            cursor: pointer;
            border-bottom: 2px solid white;
            width: 100%;
            text-align: center;
            &:first-of-type {
                border-bottom: 2px solid $themeBlue;
            }

            @media screen and (min-width: $large) {
                width: auto;
            }
        }
    }

    .gallery {
        width: 100%;
        display: none;
        grid-template-columns: repeat(6, 100%);
        li {
            height: 180px;
            position: relative;
            border-radius: 0;
            overflow: hidden;
            img {
                width: 100%;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }

        &:first-of-type {
            display: grid;
        }

        @media screen and (min-width: $large) {
            grid-template-columns: repeat(6, 33.3%);
        }
    }

    .offers {
        display: flex;
        justify-content: space-between;
    }
}