// Query block

@use '../base/' as *;

.query {
    display: flex;
    justify-content: space-around;
    text-align: left;

    &--nofullwidth {
        width: $width95;
        margin: 0 auto;
    }

    &--faq {
        display: block;
        width: $width85;
        margin: 0 auto;
    }

    &--gallery-titles {
        width: 50%;
        margin: auto;
        margin-bottom: 50px;
    }

    .gallery {
        width: 100%;
        display: none;
        li {
            width: calc(100% / 3);
            height: 240px;
            position: relative;
            overflow: hidden;
            img {
                width: 100%;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
        &:first-of-type {
            display: flex;
        }
    }

    .offers {
        display: flex;
        justify-content: space-between;
    }
}
