// Main sections on home and on the other pages

@use '../base/' as *;

.section {
    text-align: center;
    padding-bottom: 80px;
    position: relative;
    z-index: 1;
    overflow: hidden;

    &__bg {
        position: absolute;
        width: 25%;

        img {
            width: 100%;
        }

        &--top {
            top: 0;
            left: 5%;
        }

        &--bottom {
            bottom: 5%;
            right: 5%;
        }
    }

    &--dark {
        background-color: $themeBlue;
        overflow: visible;
    }

    &__arrows {
        position: absolute;
        top: 45%;
        z-index: 1;
        width: 100%;
        display: flex;
        justify-content: space-between;
        .fa-angle-left, .fa-angle-right {
            font-size: 25px;
            color: $themeBlue;
            width: 70px;
            height: 70px;
            background-color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
        }
    } 

    
    &--gallery {
        .section__arrows {
            top: 70%;
        
            @media screen and (min-width: $large) {
                top: 60%;
            }
        }
    }

    &__content {
        padding-top: 30px;
        width:82%;
        margin: auto;

        @media screen and (min-width: $large) {
            width:50%;
            margin: 0 auto;
        }

        h6 {
            padding-bottom: 25px;
        }

        p {
            padding-top: 30px;
        }

        &--light {
            color: white;

            .subtitle {
                color: $themeBrown;
            }

            .title {
                color: white;
            }
          
            a {
                color: white;
            }
        }

        &--dark {
            .subtitle {
                color: $themeBrown;
            }

            .title {
                color: $themeBlue;
            }

            p {
                color: black;
            }
        }
    }

    &__button {
        display: inline-block;
        color: $themeBrown;
        padding: 20px 35px;
        border: 2px solid $themeBrown;
        border-radius: 10px;
        transition: all .5s ease-in-out;
        margin-top: 100px;
        font-weight: 600;
        &:hover {
            background-color: $themeBrown;
            color: white;
        }
    }
}