.single {
    main {
        width: 80%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    article {
        width: 60%;
        margin-bottom: 50px;
    }

    aside {
        width: 30%;
    }
}