//Specijalne ponude post

@use '../base/' as *;

.single-specijalne-ponude {
    .content-area {
        width: 80%;
        margin: auto;
    }

    .site-content {
        margin-bottom: 50px;

        @media screen and (min-width: $large) {
            width: 100%;
        }
    }
}

.offers {
    display: flex;
    justify-content: space-between;
    i {
        margin-right: 10px;
    }
}